# Bytecode Files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual Machine Crash Logs
hs_err_pid*

# C/C++ Binaries
*.out

# IntelliJ IDEA Project Files
.idea/
*.iml
